body, html {
    padding: 0;
    margin: 0;
    background: #fafafa;
}

.home {
    background: url(../images/header-background.jpg) 0 0 no-repeat fixed;
    font-family: Montserrat, sans-serif;
    color: white;
    height: 400px;
    background-size: cover;
}

.home .title {
    text-align: center;
    font-size: 90px;
    padding-top: 70px;
}

.home .subtitle {
    font-size: 25px;
    text-align: center;
}

.home .reference {
    position: absolute;
    top: 390px;
    right: 0;
    left: 0;
    text-align: right;
    font-size: 8px;
    line-height: 10px;
    opacity: 0.5;
}

.wiki {
    font-family: Montserrat, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 10px;
}

code, kbd, pre {
    padding: 2px 4px;
    font-family: Inconsolata, monospace;
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

code, pre {
    color: #c7254e;
    background: #f9f2f4;
    border-radius: 4px;
}

pre code {
    background: none;
    padding: 0;
}

pre {
    overflow: auto;
    max-height: 600px;
}

.buttons {
    text-align: center;
    padding-top: 140px;
}

button.dl {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background: white;
    color: black;
    border: 1px solid #314159;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}